* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    margin: 16px;
}

h1 {
    color: #de201d;
    font: bolder 2.5em Montserrat;
    & + h2 {
        letter-spacing: 1em;
    }
}

hr {
    border: 0;
    height: 5px;
    width: 90%;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(255 61 61 / 0.75), rgba(0, 0, 0, 0));
    margin: auto;
}

img{
    width: 25%;
    margin: 0px 16px;
}

.fade_in{
    font-size:1.5em;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    animation-name: fadeIn;
    animation-duration: 2s;
    opacity: 0;
    animation-fill-mode: forwards;
}

.title{
    font-size: 3em;
    color:white;
}

#audience {
    font: 2em italic;
    color: #2d35d8;
    margin-top: 75px;
}

.btn{
    color: white;
    background-color: #0502b5;
}

a {
    text-decoration: none;
    padding: 14px 16px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #030170;
    position: static;
    li {
        float: left;
        a {
            display: block;
            color: #FF0000;
            text-align: center;

            font-size: 2em;
            font-weight: bold;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            :hover {
                background-color: #0502b5;
            }
        }
    }
}

.header {
    color: white;
    text-align: center;
    display: block;
    font-size: 80px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    animation-name: fadeIn;
    animation-duration: 2s;
    opacity: 0;
    animation-fill-mode: forwards;
}

.description_area {
    display: flex;
    margin-bottom: 16px;
}

.portrait {
    border: 2px solid white;
    animation-name: fadeIn;
    animation-duration: 2s;
    opacity: 0;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.downloadButton{
    cursor: pointer;
    background-color: #04AA6D;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    animation-name: fadeIn;
    animation-duration: 2s;
    opacity: 0;
    animation-fill-mode: forwards;
    float: left;
    text-align: center;
    margin-top: 50px;
}